a{
    color: white;
    text-decoration: none;
<<<<<<< HEAD
}

footer{
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

=======
}
>>>>>>> 013bd3098f2863a9cc17e823e85ce048b36603fe
